@import url("variables/variables.less");
@import url("modules/Card.less");
@import url("modules/gridCard.less");
@import url("modules/wrap.less");

.header {
  background-color: @headerColor;
  height: 40px;
  margin: 0 auto;
 }
.article {
  padding: 5px;
}
