.Card {
  display: flex;
  padding: 5px;
  flex-direction: column;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .Card {
    flex-direction: row;
  }
}
.Card--direction {
  flex-direction: row;
  flex: 1;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .Card--direction {
    flex-direction: column;
  }
}
.Card--directionRow {
  flex-direction: row;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .Card--directionRow {
    flex-direction: row;
  }
}
.Card--directionRowRewerse {
  flex-direction: row-reverse;
  flex: 1;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .Card--directionRowRewerse {
    flex-direction: column;
  }
}
.Card--directionRowReverseMedia {
  flex-direction: row;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .Card--directionRowReverseMedia {
    flex-direction: row-reverse;
  }
}
.Card-img {
  width: 100%;
  max-width: 260px;
  display: flex;
  height: auto;
  background-color: #F49E08;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .Card-img {
    flex: 1;
    max-width: 100%;
  }
}
.Card-img--imgGrow {
  flex: 1;
  max-width: 100%;
}
.Card-content {
  display: flex;
  flex: 1;
  background-color: #F3F5F4;
}
.Card-content--contentGrow {
  flex: 3;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .Card-content--contentGrow {
    flex: 1;
  }
}
