.GridCard {
  display: flex;
  flex-direction: column;
}
.GridCard--direction {
  flex-direction: row;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .GridCard--direction {
    flex-direction: column;
  }
}
.GridCard-upper {
  display: flex;
  flex: 1;
}
.GridCard-bottom {
  display: flex;
  flex: 1;
}
.GridCard-bottom--grow {
  flex: 2;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .GridCard-bottom--grow {
    flex: 1;
  }
}
.GridCard-upper,
.GridCard-bottom {
  display: flex;
  padding: 5px;
  flex-direction: row;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .GridCard-upper,
  .GridCard-bottom {
    flex-direction: column;
  }
}
.GridCard-upper--direction,
.GridCard-bottom--direction {
  flex-direction: column;
}
